<%- include('partials/header') %>

<main>
    <h1>Departments</h1>

<% departments.forEach(dept => { %>
  <h2><%= dept.department %> (<%= dept.departmentCode %>)</h2>
  <ul>
    <% dept.courses.forEach(course => { %>
      <li>
        <a href="/catalog/<%= course.slug %>">
          <%= course.courseCode %> — <%= course.name %>
        </a>
      </li>
    <% }) %>
  </ul>
<% }) %>

</main>

<%- include('partials/footer') %>
