<%- include('partials/header') %>

<main>
    <h1>Departments</h1>

    <% for (const dept in departments) { %>
        <section class="department-group">
            <h2><%= dept %></h2>

            <ul>
                <% departments[dept].forEach(course => { %>
                    <li>
                        <a href="/catalog/<%= course.id %>">
                            <%= course.id %> — <%= course.title %>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </section>
    <% } %>
</main>

<%- include('partials/footer') %>
